<h1>Select a Track</h1>

<ul>
  <% @tracksData.each do |track| %>
    <div class="col-12">
      <li><%= track[:name] %></li>
      <li><%= track[:location] %></li>
      <li><%= track[:weather] %></li>
      <%= link_to 'View Track Times', track_path(track[:id]), class: 'btn btn-primary' %>
    </div>
    <br> 
    <br> 
  <% end %>
</ul>